/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #00000000;
}
::-webkit-scrollbar-thumb {
    background: rgb(40, 84, 236);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

