/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/

* {
    /*font-size: 14px;*/
}

/*body {*/
/*    width: 100vw;*/
/*    height: 100vh;*/

/*}*/

/*#app {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 0; !important;*/
/*    margin: 0; !important;*/
/*}*/

